<div class="homepage-container">
  <header [ngClass]="{ highlighted: isHighlighted }">
    <h1>Pet Shelter Pro</h1>
    <!-- TODO: Add dynamic greetings -->
  </header>
  
  <nav class="navbar">
    <a routerLink="/">Home</a>
    <a routerLink="/application">application</a>
    <a routerLink="/pet">Pet</a>
  </nav>

  <router-outlet></router-outlet>


  <main>
    <h2>Featured Content</h2>
    <div *ngIf="featuredItems.length > 0; else noItems">
      <ul>
        <li *ngFor="let item of featuredItems">{{ item }}</li>
      </ul>
    </div>
    <ng-template #noItems>
      <p>No featured items available.</p>
    </ng-template>
  </main>

  <footer>
    <p>&copy; 2024 Your Website</p>
    <!-- TODO: Add social media icons -->
  </footer>
</div>