html, body{
  height: 100%;
  margin: 0;
}
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }
  
  header.highlighted {
    border-bottom: 4px solid yellow;
  }
  
  .navbar {
    display: flex;
    gap: 15px;
    background: #333;
    padding: 0.5em;
    width: 100%;
    justify-content: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.content {
  flex: 1; /* Take up remaining space, pushing footer to the bottom */
}

    footer {
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: auto;

  }