<div class="home-container">
    
    <div class="welcome-section">
      <h1>Welcome to Pet Shelter Pro!</h1>
      <p>
        🐶Making the shelter management process simple and stress-free is what we are committed to doing.🐶 Whether it is keeping tabs on adopters, staff organization, or taking care of the pets in your organization,🦁 we can help you with the right resources.🦁


      </p>
    </div>
  
    
    <div class="features-section">
      <h2>What You Can Do Here</h2>
      <ul>
        <li>💌 View and manage adoption applications with ease.</li>
        <li>👩‍💼 Keep track of your shelter staff and their roles.</li>
        <li>🐾 Maintain an up-to-date list of pets ready for their forever homes.</li>
      </ul>
    </div>
  
    
    <div class="cta-section">
      <p>Ready to get started? Let's make a difference together!</p>
      <a class="cta-button" routerLink="/adopter">Start Managing Adopters</a>
    </div>
  </div>
  